<plugin name='alfresco' version='0.5' grailsVersion='1.3 &gt; *'>
  <author>INECO-TIFSA</author>
  <authorEmail>sgom@ineco.es</authorEmail>
  <title>Plugin to integrate alfresco 3.4 into your grails application</title>
  <description>\
Integrate Alfresco in your grails Application. You need to install RAAr package to your alfresco server in order to expose the cma API the plugin use.
</description>
  <documentation>https://github.com/fix/grails-alfresco-plugin</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>AlfrescoServerController</resource>
    <resource>AlfrescoWorkflowController</resource>
    <resource>AlfrescoServer</resource>
    <resource>AlfrescoConnectionService</resource>
    <resource>AlfrescoUsersService</resource>
    <resource>AlfrescoWorkflowService</resource>
    <resource>AlfrescoTagLib</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>